* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
  width: 20em;
  border: none;
  box-shadow: 0 2px 5px rgb(83, 79, 79);
  border-radius: 10px;
  background-color: rgb(253, 251, 251);
  color: #070707;
}
.header {
  font-size: 1.6em;
  text-transform: uppercase;
  letter-spacing: 1;
  padding: 0.8em 0.5em 0 0.5em;
}
.balance-container {
  margin-top: 1.5em;
  margin-bottom: 0.5em;
  text-transform: capitalize;
  text-align: center;
}
.balance-header {
  font-size: 1.2em;
  font-weight: 600;
}
.balance {
  color: rgb(16, 14, 150);
}
.inc-exp-container {
  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-gap: 4em;
  padding: 1em;
}
.income-container {
  text-transform: uppercase;
  font-size: 1.2em;
  margin-right: 20px;
}
.money-plus {
  color: green;
  font-size: 1.2em;
  font-weight: bold;
}
.expense-container {
  text-transform: uppercase;
  font-size: 1.2em;
  margin-left: 20px;
}
.money-minus {
  color: red;
  font-size: 1.2em;
  font-weight: bold;
}
.history-header {
  font-size: 1.2em;
  text-transform: uppercase;
  text-align: center;
  padding: 0.9em;
}
.list {
  list-style: none;
  margin: auto 0;
  width: 100%;
}

.list > li {
  display: flex;
  padding: 10px 5px 10px 10px;
  width: 100%;
  border: 1px solid rgb(192, 188, 188);
  justify-content: space-between;
  font-size: 1.2em;
  text-transform: capitalize;
}
.plus {
  border-right: 2px;
  border-right-color: green;
}
.delete-btn {
  border: none;
  font-size: 1.2em;
  padding-left: 10px;
  background: transparent;
}
.add-transaction {
  padding-top: 1.2em;
  text-align: center;
  text-transform: capitalize;
  margin-bottom: 10px;
}
.text {
  padding: 1.2em 0.5em;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.text > label {
  font-size: 1.2em;
}
.text > input {
  border: none;
  font-size: 1.2em;
  padding: 0 0.2em;
  box-shadow: 1px 3px 2px rgba(172, 167, 167, 0.432);
}
.amount {
  padding: 1.2em 0.5em;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.amount > label{
  font-size: 1.2em;
}
.amount > label> p{
  font-size: 0.8em;
}
.amount > input {
  border: none;
  font-size: 1.2em;
  padding: 0 0.2em;
  box-shadow: 1px 3px 2px rgba(128, 128, 128, 0.432);
  margin-bottom: 1em;
}
.add-trans-btn{
  font-size: 1.2em;
  padding: 0.5em;
  border: none;
  background-color: blue;
  color: #ffffff;
}
.add-trans-btn:hover{
 background-color: #fff;
 color: blue; 
 border: 1px solid blue;
}